In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [20]:
import warnings
warnings.filterwarnings('ignore')

In [21]:
#Load the dataset
df = pd.read_csv('Company_Data (1).csv')
df

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

In [22]:
#print the five rows
df.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No

In [23]:
#check the dimensional
df.shape

(400, 11)

In [24]:
#check the datatype
df.dtypes

Sales          float64
CompPrice        int64
Income           int64
Advertising      int64
Population       int64
Price            int64
ShelveLoc       object
Age              int64
Education        int64
Urban           object
US              object
dtype: object

In [25]:
#check the info about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Sales        400 non-null    float64
 1   CompPrice    400 non-null    int64
 2   Income       400 non-null    int64
 3   Advertising  400 non-null    int64
 4   Population   400 non-null    int64
 5   Price        400 non-null    int64
 6   ShelveLoc    400 non-null    object
 7   Age          400 non-null    int64
 8   Education    400 non-null    int64
 9   Urban        400 non-null    object
 10  US           400 non-null    object
dtypes: float64(1), int64(7), object(3)
memory usage: 34.5+ KB

In [26]:
#check the null value
df.isnull().sum()

Sales          0
CompPrice      0
Income         0
Advertising    0
Population     0
Price          0
ShelveLoc      0
Age            0
Education      0
Urban          0
US             0
dtype: int64

In [27]:
#seperate the object and integer columns to do data transformation
df_data_object = df.select_dtypes('object')
df_data_integer = df.select_dtypes(['int64','float64'])

In [28]:
#Data Transformation for object data type
from sklearn.preprocessing import LabelEncoder
for i in df_data_object:
    LE = LabelEncoder()
    df_data_object[i] = LE.fit_transform(df_data_object[i])

In [29]:
#concat the integre and object datatype
df1_new_col = pd.concat([df_data_integer,df_data_object],axis = 1)

In [30]:
df1_new_col

,Sales,CompPrice,Income,Advertising,Population,Price,Age,Education,ShelveLoc,Urban,US
0,9.50,138,73,11,276,120,42,17,0,1,1
1,11.22,111,48,16,260,83,65,10,1,1,1
2,10.06,113,35,10,269,80,59,12,2,1,1
3,7.40,117,100,4,466,97,55,14,2,1,1
4,4.15,141,64,3,340,128,38,13,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,33,14,1,1,1
396,6.14,139,23,3,37,120,55,11,2,0,1
397,7.41,162,26,12,368,159,40,18,2,1,1
398,5.94,100,79,7,284,95,50,12,0,1,1
399,9.71,134,37,0,27,120,49,16,1,1,1

In [31]:
#Data Division
X = df1_new_col.drop('Sales',axis =1)
Y = df1_new_col['Sales']

In [32]:
#Data Partiton
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.3,random_state = 42)

In [33]:
print(X_train.shape,X_test.shape,Y_train.shape,Y_test.shape)

(280, 10) (120, 10) (280,) (120,)

In [34]:
#Model fitting
from sklearn.ensemble import RandomForestRegressor
from sklearn import tree
RFR = RandomForestRegressor()
RFR.fit(X_train,Y_train)

RandomForestRegressor()

In [64]:
#Doing the hyper parameter tunning using randomizedSearchcv
from sklearn.model_selection import RandomizedSearchCV
n_estimators = [100,200,300,400,500]
max_samples = [0.4,0.5,0.6,0.7,0.8]
max_features = [0.4,0.5,0.6,0.7,0.8]
min_samples_split = [4,5,6,7,8]
min_samples_leaf = [4,5,6,7,8]
params = {
    'n_estimators':n_estimators,
    'max_samples':max_samples,
    'max_features':max_features,
    'min_samples_split':min_samples_split,
    'min_samples_leaf':min_samples_leaf,
}
descision_tree_new = RandomizedSearchCV(estimator = RFR, param_distributions =params,n_jobs =-1,n_iter  = 200,cv =5,random_state = 42)
descision_tree_new.fit(X_train,Y_train)

RandomizedSearchCV(cv=5,
                   estimator=RandomForestRegressor(max_features=0.5,
                                                   max_samples=0.8,
                                                   min_samples_leaf=4,
                                                   min_samples_split=8,
                                                   n_estimators=500),
                   n_iter=200, n_jobs=-1,
                   param_distributions={'max_features': [0.4, 0.5, 0.6, 0.7,
                                                         0.8],
                                        'max_samples': [0.4, 0.5, 0.6, 0.7,
                                                        0.8],
                                        'min_samples_leaf': [4, 5, 6, 7, 8],
                                        'min_samples_split': [4, 5, 6, 7, 8],
                                        'n_estimators': [100, 200, 300, 400,
                                                         500]},
                   random_state=42)

In [65]:
print(descision_tree_new)

RandomizedSearchCV(cv=5,
                   estimator=RandomForestRegressor(max_features=0.5,
                                                   max_samples=0.8,
                                                   min_samples_leaf=4,
                                                   min_samples_split=8,
                                                   n_estimators=500),
                   n_iter=200, n_jobs=-1,
                   param_distributions={'max_features': [0.4, 0.5, 0.6, 0.7,
                                                         0.8],
                                        'max_samples': [0.4, 0.5, 0.6, 0.7,
                                                        0.8],
                                        'min_samples_leaf': [4, 5, 6, 7, 8],
                                        'min_samples_split': [4, 5, 6, 7, 8],
                                        'n_estimators': [100, 200, 300, 400,
                                                         500]},
                   random_state=42)

In [66]:
descision_tree_new.best_params_

{'n_estimators': 100,
 'min_samples_split': 8,
 'min_samples_leaf': 4,
 'max_samples': 0.8,
 'max_features': 0.8}

In [67]:
descision_tree_new.best_estimator_

RandomForestRegressor(max_features=0.8, max_samples=0.8, min_samples_leaf=4,
                      min_samples_split=8)

In [69]:
#Model fitting
from sklearn.ensemble import RandomForestRegressor
from sklearn import tree
RFR = RandomForestRegressor(n_estimators = 100, min_samples_split = 8,min_samples_leaf =4, max_samples =0.8,max_features =0.5)
RFR.fit(X_train,Y_train)

RandomForestRegressor(max_features=0.5, max_samples=0.8, min_samples_leaf=4,
                      min_samples_split=8)

In [70]:
Y_pred_train = RFR.predict(X_train)
Y_pred_test = RFR.predict(X_test)

In [71]:
#caluclate the metrics
from sklearn.metrics import mean_squared_error
print('Training Error',np.mean(mean_squared_error(Y_pred_train,Y_train)).round(2))
print('Testing Error',np.mean(mean_squared_error(Y_pred_test,Y_test)).round(2))

Training Error 1.59
Testing Error 3.18

In [72]:
from sklearn.model_selection import KFold,cross_val_score
k = KFold( n_splits= 5)
result = cross_val_score(RFR,X,Y,cv = k)

In [73]:
print(np.mean(result).round(2))

0.63

In [ ]:
#For doing  the Random Forests Regressor i got 0.63 % error.