# Q1

In [40]:
import pandas as pd
df = pd.read_csv("Cutlets.csv")
df.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [41]:
from scipy import stats
Zcal, Pval = stats.ttest_ind(df['Unit A'],df['Unit B'])
alpha = 0.05
if Pval<alpha:
    print("Ho is rejected, H1 is accepted")
else:
    print("Ho is accepted, H1 is rejected")

Ho is accepted, H1 is rejected

# Q2

In [42]:
import pandas as pd
df = pd.read_csv("LabTAT.csv")
df.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [43]:
import scipy.stats as stats
ftab,pval = stats.f_oneway(df['Laboratory 1'],df['Laboratory 2'],df['Laboratory 3'],df['Laboratory 4'])
alpha = 0.05
if Pval<alpha:
    print("Ho is rejected, H1 is accepted")
else:
    print("Ho is accepted, H1 is rejected")

Ho is accepted, H1 is rejected

# Q3

In [44]:
from scipy import stats
import pandas as pd
df = pd.read_csv("BuyerRatio.csv")
df

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [45]:
data=[[50,142,131,70],[435,1523,1356,750]]

In [46]:
stat,pval,df,exp=stats.chi2_contingency(data)

In [47]:
pval

0.6603094907091882

In [48]:
exp

array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]])

In [49]:
Expectedvalues=list(exp)
Observedvalues=data

In [50]:
stat,pvalue=stats.chisquare(Observedvalues,Expectedvalues,ddof=3)

In [51]:
pval

0.6603094907091882

In [52]:
if pval<0.05:
    print("H0 is rejected and H1 is accepted")
else:
    print("H1 is rejected and H0 is accepted")

H1 is rejected and H0 is accepted

# Q4

In [53]:
import pandas as pd
df = pd.read_csv("Costomer+OrderForm.csv")
df.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [54]:
Table=[[271,267,269,280],[29,33,31,20]]

In [55]:
stat,pvalue,df,exp=stats.chi2_contingency(Table)

In [56]:
stat

3.858960685820355

In [57]:
pvalue

0.2771020991233135

In [58]:
exp

array([[271.75, 271.75, 271.75, 271.75],
       [ 28.25,  28.25,  28.25,  28.25]])

In [59]:
ExpectedValues=[271.75, 271.75, 271.75, 271.75,
       28.25,  28.25,  28.25,  28.25]
ObservedValues=[271,267,269,280,29,33,31,20]

In [60]:
Stat,Pvalue=stats.chisquare(ObservedValues,ExpectedValues,ddof=df)

In [61]:
Pvalue

0.4254298144535761

In [62]:
if pval<0.05:
    print("H0 is rejected and H1 is accepted")
else:
    print("H1 is rejected and H0 is accepted")

H1 is rejected and H0 is accepted